@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');

:root {
  --hfont: 50px;
  --cfont: 22px
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

input .checkbox{
  width:50px;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: var(--cfont);
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  caret-color: transparent;
}

.bg {
  width: 100vw;
  min-height: 150vh;
 
}

.mynavbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  overflow: hidden;
  height: 70px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: #71ecc9;
  box-shadow: #438b77 0px 25px 20px -20px;
}

.navlogo {
  display: block;
  height: 60px;
  width: 170px;
  padding-left: 70px;
  padding-top: 10px;
}

.opt {
  display: flex;
  color: white;

}

.opt li {
  list-style-type: none;
  padding: 20px 30px;
  height: 70px;
}

.opt li:hover {
  color: #00c3ff;
  transform: translateZ(2px);
  cursor: pointer;
}


.mnavbar {
  display: none;
}


.hamburger {
  padding: 10px;
}

.hamburger .line {
  width: 45px;
  height: 5px;
  background-color: white;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

#hamburger-6.is-active {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger-6.is-active .line:nth-child(2) {
  width: 0px;
}

#hamburger-6.is-active .line:nth-child(1),
#hamburger-6.is-active .line:nth-child(3) {
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

#hamburger-6.is-active .line:nth-child(1) {
  -webkit-transform: translateY(13px);
  -ms-transform: translateY(13px);
  -o-transform: translateY(13px);
  transform: translateY(13px);
}

#hamburger-6.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(90deg);
  -ms-transform: translateY(-13px) rotate(90deg);
  -o-transform: translateY(-13px) rotate(90deg);
  transform: translateY(-13px) rotate(90deg);
}

@media only screen and (max-width: 800px) {

    :root {
      --cfont: 18px;
      --hfont: 30px
    }
  
    .opt {
      display: none;
    }
  
    .about {
      padding: 0 20px;
    }
  
    .abt-desc {
      width: 100%;
    }
  
    .mynavbar {
      display: none;
    }
  
    .mnavbar {
      z-index: 10;
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      overflow: hidden;
      width: 100vw;
      background-color: #71ecc9;
      box-shadow: #438b77 0px 25px 20px -20px;
    }
  
    .mnav-top {
      display: flex;
      height: 70px;
      justify-content: space-between;
    }
  
    #overlay {
      height: 0px;
      transition: 0.6s;
    }
  
    #overlay.toggle {
      height: 100vh;
    }
  
    .mopt li {
      list-style-type: none;
      color: white;
      padding: 20px;
    }
}  


.mhead{
    /* color: #FFFFFF; */
    background-size: 100%;
    color:#fff;
    font-size: var(--hfont);
    padding-top: 100px;
    text-align: center;
}

.prefbuttons{
    padding: 20px 70px;
}

.prefbuttons ul{
    padding: 20px 70px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.prefbuttons ul li{
    color: white;
    list-style-type: none;
    min-height: 60px;
    min-width: 100px;
    padding: 10px;
    border: 3px solid #26e9ff;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
}

.prefbuttons ul li:hover{
    background-color: #26e9ff;
    color: rgb(53, 137, 255);
    cursor: pointer;
    transform: rotate3d(360);
}

.prefbuttons ul li:active{
    background-color: #26e9ff;
    cursor: pointer;
}

.invisible{
    display: none!important;
}




#drop{
    display: none;
}

.mentorcardwrap{
    padding: 70px;
}

.cardcat{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
}

.mentorcard{
    width: 300px;
    height: 400px;
    perspective: 1000px;
    border-radius: 10px;
   
}

.mentorcardinner{
    position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;

}

.mentorcardfront{
    background-color: #b6f2fd;
   

    color: white;
    border-top-right-radius: 40px; 
    border-bottom-left-radius: 40px;
    border: 2px solid #26e9ff;
    
    padding: 20px; 
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: 4.0px 4.0px 4.0px #a7d7e9;
    
    
    /* box-shadow: #B026FF 0px 5px 15px; */

}
.mentorcardfront:hover{
    transform: translateZ(70px);
    transition: transform 0.75s;
   
    
}

.mentorcardback{
    border-radius: 10px; 
    padding: 20px; 
    /* background-color: #1e1e1e; */
    background: url('https://i.pinimg.com/originals/0a/d0/1f/0ad01ffa902c2c2aaf13881b26555a80.jpg');
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    box-shadow: 4.0px 1.0px 4px #998FC7;
}

/* .mentorcard:hover .mentorcardinner {
    transform: rotateY(180deg);
  }
   */

.mentorid{
    padding: 10px;
    background-color:#26e9ff;
    border-radius: 15px;
    border: 3px solid #12e3fa;
    display: inline-block;
    transition: 0.3s;
}



.mentorinfo{
    padding-top: 20px;
    text-align: left;
    font-size: 18px;
}

.mentordesc{
    height: 80%;
    padding-top: 0;
    overflow-y: scroll;
}

.mentorbtnwrap{
    position: absolute;
    bottom: 0;
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.mentorbtn{
    color: white;
    list-style-type: none;
    min-height: 60px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.mentorbtn1{
    border: 3px solid #71ecc9;
}

.mentorbtn1:hover{
    background-color: #71ecc9;
    cursor: pointer;
}

.mentorbtn2:hover{
    background-color: #71ecc9;
    cursor: pointer;
}

.mentorbtn2{
    border: 3px solid #71ecc9;
    border-left: none;
}

.disabled{
    opacity: 0.7;
}

.disabled:hover{
    cursor: not-allowed;
}

.disabled .mentorbtn2{
    cursor: not-allowed;
}


.disabled .mentorid{
    display: block;
    width: 200px;

    text-align: center;
    background-color: red;
    border: none;
}




@media only screen and (max-width: 800px) {

    .prefbuttons{
        padding: 10px;
        display: none;
    }

    #drop{
        display: block;
        margin: auto;
        padding: 10px;
        margin-top: 30px;
        background: black;
        color: white;
        border: 3px solid #12e3fa;
    }


}

/*  CheckBox */



/*animation  */

.content {
	background: url('https://wallpaperaccess.com/full/846241.jpg') no-repeat;
	height: 100vh;
}
.content h1 {
	color: #fff;
	position: absolute;
	top: 40%;
	left: 50%;
	font-family: sans-serif;
	transform: translate(-50%, -50%);
	z-index: 1;
	font-size: 80px;
	text-align: center;
	text-transform:uppercase;
}
.content p{
  color: #fff;
	position: absolute;
	top: 80%;
	left: 50%;
	font-family: sans-serif;
	transform: translate(-50%, -50%);
	z-index: 1;
	
	text-align: center;
	
}
.box ul li {
	position: relative;
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 0.9em;
	margin-right: 0.9em;
	margin-bottom: 1.2em;
	border-right: 0.3em solid transparent;
	border-bottom: 0.7em solid white;
	border-left: 0.3em solid transparent;
	list-style: none;
	opacity: 0;
	bottom: 0;
	left: 10vw;
	animation: animate 15s linear infinite;
}
.box ul li:before, .box ul li:after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	top: 0.6em;
	left: -1em;
	border-right: 1em solid transparent;
	border-bottom: 0.7em solid white;
	border-left: 1em solid transparent;
	transform: rotate(-35deg);
}
.box ul li:after {
	transform: rotate(35deg);
}
.box ul li:nth-child(2) {
	left: 36vw;
	animation-delay: 2s;
}
.box ul li:nth-child(3) {
	left: 22vw;
	animation-delay: 4s;
}
.box ul li:nth-child(4) {
	left: 56vw;
	animation-delay: 6s;
}
.box ul li:nth-child(5) {
	left: 76vw;
	animation-delay: 4s;
}
.box ul li:nth-child(6) {
	left: 80vw;
	animation-delay: 8s;
}
@keyframes animate {
	0% {
		transform: scale(0) rotate(0);
		opacity: 1;
		bottom: 0;
	}
	100% {
		transform: scale(5) rotate(360deg);
		opacity: 0;
		bottom: 100vh;
	}
}
