{% if speakers %}
    <div class="speakerList" style="display: flex;">
        {% for speaker in speakers %}
            <div class="speakerName" style="color:rgb(90, 160, 210);">{{speaker.name}}</div>
            <div class="mentorcard">
            <div class="mentorcardinner">
                <div class="mentorcardfront">
                <div class="mentorid">{{speaker.name}}</div>
                <div class="mentorinfo">
                    {{speaker.depart}}
                </div>
                <div class="mentorinfo">
                    {{speaker.name}}
                </div>
                <div class="mentorinfo">{{speaker.name}}</div>
                <div class="mentorinfo">
                    {{speaker.name}}
                </div>
                <center>
                   
                      </label>
                    <input class="checkbox"  type="checkbox" hx-trigger="click" hx-get="{% url 'addSpeakers' speaker.speaker_id %}" />
                   
                </label>
                </center>
                </div>
                <div class="mentorcardback">
                <div class="mentorinfo mentordesc">{{speaker.name}}</div>
                <div class="mentorbtnwrap">
                    <div
                    class="mentorbtn1 mentorbtn"
                    onclick="rotatecardback(event)"
                    >
                    {{speaker.name}}
                    </div>
                    <div class="mentorbtn2 mentorbtn">
                    <a href="/asmp/fav/`+data.name+`">{{speaker.name}}</a>
                    </div>
                </div>
                
                </div>
            </div>
            </div> 
        {% endfor %}
    </div>
{% else %}
    <div>We dont have any Speakers Yet</div>
{% endif %}