{% if speakers %}
    <div class="speakerList" style="display: flex;">
        {% for speaker in speakers %}

            <div class="mentorcard" hx-trigger="click" hx-get="{% url 'addSpeakers' speaker.speaker_id %}" hx-target=".speakers">
            <div class="mentorcardinner">
                <div class="mentorcardfront">
                    {% if speaker.speaker_id in mySpeakers%}
                        <div class="mentorid">{{speaker.name}}</div>
                    {% else %}
                        <div class="mentoridFalse">{{speaker.name}}</div>
                    {% endif %}
                <div class="mentorinfo">
                    {{speaker.depart}}
                </div>
                <div class="mentorinfo">
                    {{speaker.name}}
                </div>
                <div class="mentorinfo">{{speaker.name}}</div>
                <div class="mentorinfo">
                    {{speaker.name}}
                </div>
                <center>
                   
                      </label>
                   
                </label>
                </center>
                </div>
                <div class="mentorcardback">
                <div class="mentorinfo mentordesc">{{speaker.name}}</div>
                <div class="mentorbtnwrap">
                    <div
                    class="mentorbtn1 mentorbtn"
                    onclick="rotatecardback(event)"
                    >
                    {{speaker.name}}
                    </div>
                    <div class="mentorbtn2 mentorbtn">
                    <a>{{speaker.name}}</a>
                    </div>
                </div>
                
                </div>
            </div>
            </div> 
        {% endfor %}
    </div>
{% else %}
    <div>We dont have any Speakers Yet</div>
{% endif %}